.alerta{
    position: absolute;
    top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $colorPrincipal;
    color: $colorSecundario;

    font-size: 3rem;

    border-radius: 10px;

    padding: 1rem 5rem;

    z-index: 200;
}

.hidden{
    display: none;
}

.alerta_salir{
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 2rem;
}

.alerta_titulo{
    font-size: 4rem;
}

.alerta_div-form{
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;

    margin-bottom: 3rem;
}

.alerta_div-input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5rem;
}

.alerta_input{
    width: 1.5rem;
    height: 1.5rem;
}

.alerta_div-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta_btn{
    color: $colorPrincipal;
    background-color: $colorSecundario;

    text-transform: uppercase;
    font-weight: bold;

    padding: 0 3rem;

    border-radius: 5px;

    margin-bottom: 1rem;

    transition: scale 300ms ease-in-out;
}

.alerta_btn:hover{
    scale: 1.1;
}

.w-100{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.envioEmail{
    top: 150px;
}

.alerta-email_titulo{
    font-size: 3rem;
}


.divResultado{
    font-size: 2rem;
    text-align: center;
}

.divResultado_parejas{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    padding: 0 5rem;

    height: 80%;
}

.parejas_pareja{
    font-size: 2.3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    width: 100%;
}

.pareja2{
    flex-direction: row-reverse;
}

.lineaVertical{
    position: absolute;
    right: 50%;
    width: 3px;
    height: 40%;
    background-color: $colorSecundario;
}

.partido_input{
    width: 50px;
    height: 50px;

    text-align: center;
}

.divResultado_Btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;

    width: 100%;
}

.divResultado_Btn button{
    padding: .5rem 3rem;

    color: $blanco;
    background-color: $colorPrincipal;

    border-radius: 5px;
    border: 2px solid $colorPrincipal;

    transition: all 250ms;
}

.divResultado_Btn button:hover{
    scale: 1.1;

    background-color: $colorClaro;
    color: $colorPrincipal;
}