.main-infoLiga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-titulo_infoLiga {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    margin: 1rem;
}

.container-img_infoLiga{
    background-color: $colorPrincipal;
    border-radius: 50%;

    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img_infoLiga {
    max-width: 20%;
    z-index: 100;

    border-radius: 50%;
}

.titulo_infoLiga {
    padding: 1rem 3rem;
    margin-left: -3.3rem;

    font-size: 2rem;
    letter-spacing: 1px;
    color: $colorSecundario;
    text-align: end;

    border-radius: .5rem;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);

    background-color: $colorPrincipal;
}

.container-infoLiga {
    position: relative;

    text-align: center;
    font-size: 1.5rem;

    width: 70vw;
    padding: 1rem;
    margin-bottom: 5rem;

    border-radius: .5rem;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);

    background-color: $colorClaro;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-info-liga{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 3rem;

    margin: .7rem;   
    
    color: $colorPrincipal;
}

.div-info-liga-respnsabilidad{
    flex-direction: column;
    gap: 1rem;
}

.liena{
    width: 90%;
    border: 1px solid $colorPrincipal;
}

.btn-unirse{
    max-width: 300px;
    font-size: 1.5rem;

    padding: .5rem 2rem;
}

.container-pnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.edit{
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 2rem;
    color: $colorPrincipal;

    cursor: pointer;

    transition: color 200ms;
}

.edit:hover{
    color: $colorSecundario;
}