.main-jugadores{
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 70vh;

    margin-bottom: 2rem;

    color: $colorPrincipal;
}

.jugadores_titulo {
    font-size: 3rem;
    text-transform: uppercase;

    color: $colorPrincipal;
    text-align: center;

    margin: 2rem;
}

.jugadores{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jugadores_tabla {
    text-align: center;

    border-radius: .5rem;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);

    background-color: #fff;

    border-collapse: collapse;

    width: 70%;
}

th,
td{
    width: 300px;
    vertical-align: middle;
}

.tabla_titulo {
    padding: 1rem;

    font-size: 1.3rem;
    text-transform: uppercase;

    text-align: center;
}

tbody {
    display: inline-block;
    height: fit-content;
    min-height: 30vh;

    scrollbar-color: $colorOscuro $colorClaro;

    background-color: #fff;

    font-weight: bold;

    border-radius: .5rem;
}


.tabla_datos {
    font-size: 1.4rem;

    color: $colorOscuro;
}

.tabla_dato {
    padding: .5rem;
}

.tabla_cabecera {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);

    background-color: $colorPrincipal;
    color: $colorSecundario;
}