.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
    background-color: $colorPrincipal;
    
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $blanco;
    
    padding: 1rem 3rem;
    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav__menu {
    display: none;
    z-index: 100;

    color: $colorPrincipal;
}

.nav_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: first;
    gap: 3rem;

    z-index: 100;
}

.nav_list li,
.list_option {
    color: $blanco;
    font-weight: 600;
    text-transform: uppercase;

    background: none;
    border: none;
    box-shadow: none;
    
    transition: all 250ms;

    cursor: pointer;
}

.nav_list li:hover,
.list_option:hover {
    color: $colorSecundario;
    scale: 1.1;
}

.inicio-sesion{
    text-align: center;
}

.inicio-sesion-login{
    min-width: 300px;
}

.logo {
    max-width: 300px;
}

.activo{
    color: $colorPrincipal;
}

.desplegable ul {
    display: none;
    position: absolute;
    min-width: 140px;

    padding: 1.5rem;

    background-color: $colorPrincipal;
    border-radius: 5px;

    transition: all 300ms;
}

.mover{
    right: 10px;
}

.desplegable{
    list-style: none;
    transition: all 250ms;
}

.desplegable:hover{
    color: $colorSecundario;
}

.desplegable:hover ul {
    display: block;
}

.desplegable ul li {
    position: relative;
}

.container_foto-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    gap: 2rem;

    min-width: 300px;
    max-width: 300px;
}

.foto-nav{
    max-width: 100px;
    max-height: 100px;
    
    border-radius: 50%;
    
    aspect-ratio: 1/1;
}

.nombre-user{
    cursor: pointer;
}

.movil,
.menu_cerrar{
    display: none;
}