.container-partidos {
    width: 70%;
    max-height: 60%;
    min-height: 60%;

    padding: 2rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    background-color: $blanco;

    border-radius: 5px;

    overflow-y: scroll;
    scrollbar-color: $colorOscuro $colorClaro;
}

.header_partido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 5rem;

    width: 70%;
}

.partido_select {
    font-size: 2rem;
}

.header_partido-fecha {
    font-size: 2rem;
}

.partidos-div_partido {
    box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);

    background-color: $colorClaro;

    flex-basis: calc(50% - 3rem);

    border-radius: 5px;
}

.partido_info {
    font-size: 1.5rem;

    position: relative;
}

.partido_info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    padding: .5rem 3rem;
}

.partido_fecha {
    display: inline;
}

.partido_hora {
    display: inline;
}

.partido_resultado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 2rem;

    max-height: 50px;
    min-height: 50px;
}

.sin-partidos {
    width: 100%;

    font-size: 3rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.partido_informacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    width: 90%;
}

.pareja_nombre {
    flex-basis: calc(50% - 5rem);

    font-size: 1rem;
    text-align: center;
}

.pareja_nombre-resultado {
    flex-basis: calc(50% - 5rem);

    font-size: 2rem;
    text-align: center;
}

.btnResultado {
    font-weight: bold;

    cursor: pointer;

    transition: scale 250ms;
}

.btnResultado:hover {
    scale: 1.1;
}

.divResultado {
    font-size: 2rem;
    text-align: center;
}

.divResultado_parejas {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    padding: 0 5rem;

    height: 80%;
}

.parejas_pareja {
    font-size: 2.3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    width: 100%;
}

.lineaVertical {
    position: absolute;
    right: 50%;
    width: 3px;
    height: 40%;
    background-color: $colorSecundario;
}

.partido_input {
    width: 50px;
    height: 50px;

    text-align: center;
}

.divResultado_Btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;

    width: 100%;
}

.divResultado_Btn button {
    padding: .5rem 3rem;

    color: $blanco;
    background-color: $colorPrincipal;

    border-radius: 5px;
    border: 2px solid $colorPrincipal;

    transition: all 250ms;
}

.divResultado_Btn button:hover {
    scale: 1.1;

    background-color: $colorClaro;
    color: $colorPrincipal;
}