@media (max-width: 1200px) {
    .main_section1 {
        justify-content: center;
    }

    .section1_liga {
        flex-basis: 100%;
    }

    .liga_img {
        max-width: 50%;
    }
}

@media (max-width: 1150px) {
    .section_left {
        font-size: 1.2rem;
    }

    .section_titulo {
        font-size: 3rem;
    }
}

@media (max-width: 1035px) {
    .logo {
        max-width: 200px;
    }

    .inicio-sesion {
        min-width: 200px;
    }
}

@media (max-width: 945px) {
    .section_left {
        font-size: 1.6rem;
    }

    .section_titulo {
        font-size: 4rem;
        text-align: center;
    }

    .section {
        flex-direction: column;
        gap: 4rem;
    }

    .nav {
        gap: 1rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 890px) {
    .nav_list {
        gap: 2rem;
    }

    .logo {
        max-width: 150px;
    }

    .inicio-sesion {
        min-width: fit-content;
    }

    .main-grid {
        grid-template-areas: 'titulo titulo titulo titulo'
            '. . . filtros'
            'ligas ligas ligas ligas';

        padding: 0 1rem;
    }

    .main_section2 {
        padding: 5rem 3rem;
        max-height: 100vh;
        width: fit-content;

        border-radius: 0;

        align-self: end;

        position: fixed;
        right: 0;
        top: 0;

        font-size: 2rem;

        transform: translateX(100vw);
        transition: 250ms;

        overflow: scroll;

        z-index: 10000;
        cursor: pointer;
    }

    .filtro_cerrar {
        position: absolute;
        top: 10px;
        left: 30px;

        display: block;
    }

    .filtro_cerrar i {
        font-size: 3rem;
        color: $colorPrincipal;
    }

    .filtrosBtn {
        grid-area: filtros;

        font-size: 2rem;
        color: $colorPrincipal;

        display: flex;
        align-items: center;
        justify-content: end;
        gap: .5rem;

        padding: .5rem 1rem;

        border-radius: 15px;

        background-color: $blanco;

        box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
        -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);

        cursor: pointer;
    }

    // .section2_header{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     gap: 3rem;

    //     margin-bottom: 1rem;

    //     color: $colorPrincipal;
    // }

    // .section2_titulo {
    //     font-size: 3rem;
    //     letter-spacing: 1px;
    // }

    // .section2_button{
    //     font-size: 1.5rem;

    //     cursor: pointer;

    //     transition: color 250ms;
    // }

    // .section2_button:hover{
    //     color: $colorSecundario;
    // }

    // .filtro_titulo {
    //     font-size: 1.8rem;

    //     color: $colorPrincipal;
    // }

    // .container-check {
    //     display: flex;
    //     align-items: center;
    //     gap: .4rem;
    // }

    // .filtro_label {
    //     font-size: 1.4rem;

    //     cursor: pointer;
    // }

    // .filtro_check{
    //     cursor: pointer;
    // }

    // #titulo-ver-mas{
    //     font-size: 1.4rem;
    //     font-weight: 600;
    //     color: $colorPrincipal;

    //     cursor: pointer;
    // }

    // .filtro-fecha_div{
    //     margin-bottom: 1rem;

    // }

    // .filtro-fecha{
    //     font-size: 1.2rem;

    // }

    // .filtrosBtn{
    //     display: none;
    // }
}

@media (max-width: 750px) {
    .container_numeros {
        flex-direction: column;
    }

    .ver-mas-inicio {
        display: block;
    }

    .hidden-section {
        display: none;
    }

    //menu movil
    .nav {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: start;

        padding: 5rem 3rem;
        height: 100vh;
        width: 75%;

        position: fixed;
        right: 0;

        font-size: 2rem;

        transform: translateX(100vw);
        transition: 250ms;

        z-index: 1000;
        overflow: hidden;
    }

    .nav_list {
        flex-direction: column;
        gap: .5rem;

        z-index: 100;
    }

    .inicio-sesion-login {
        min-width: 300px;
        text-align: center;
        order: 2;
    }

    .option_link {
        align-self: center;
        order: 1;
    }

    .nav_list li:hover,
    .list_option:hover {
        color: $colorSecundario;
        scale: 1;
    }

    .logo {
        max-width: 13rem;
    }

    .desplegable {
        text-align: center;
    }

    .desplegable ul {
        display: none;
        position: relative;

        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        margin-left: 3rem;

        text-align: start;


        background-color: #070a54;
        border-radius: 5px;

        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    .container_foto-nav {
        flex-direction: column;
        order: 2;
    }

    .movil {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 1rem;
        background-color: $colorPrincipal;
    }

    .menu_movil {
        font-size: 2rem;
        color: $colorSecundario;
    }

    .menu_cerrar {
        position: absolute;
        top: 10px;
        left: 30px;

        display: block;
    }

    .menu_cerrar i {
        font-size: 3rem;
        color: $colorSecundario;
    }

    .menu_lista {
        order: 3;
    }
}

@media (max-width: 650px) {
    .container-pregunta summary {
        font-size: 2rem;
        font-weight: bold;
        color: $colorPrincipal;

        padding: 0 1rem;
    }
}

@media (max-width: 500px) {
    .section1_liga article {
        flex-direction: column;
    }

    .liga_info{
        font-size: 1.7rem;
        text-align: center;
        letter-spacing: 1px;
    }

    .liga_img{
        max-width: 80%;
    }
}

@media (max-width: 430px) {
    .section_titulo {
        font-size: 3rem;
    }

    .mapa_titulo {
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    .nav{
        width: 100%;
    }
}