@media (max-width: 1280px) {
    .container_foto-nav-liga {
        min-width: 200px;
        max-width: 200px;
    }

    .logo-liga {
        min-width: 200px;
        max-width: 200px;
    }
}

@media (max-width: 1200px) {
    .main_section1 {
        justify-content: center;
    }

    .section1_liga {
        flex-basis: 100%;
    }

    .liga_img {
        max-width: 50%;
    }
}

@media (max-width: 1150px) {
    .section_left {
        font-size: 1.2rem;
    }

    .section_titulo {
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    .tienda_container-der {
        margin: 0;
    }

    #payment-form {
        grid-template-areas: 'num num'
            'expire cvc'
            'postal postal'
            'btn btn';

        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1035px) {
    .logo {
        max-width: 200px;
    }

    .container_foto-nav-liga {
        min-width: 100px;
        max-width: 100px;
    }

    .nav_list-liga {
        gap: 1rem;
    }

    .nav-liga {
        font-size: 1.5rem;
    }
}

@media (max-width: 945px) {
    .section_left {
        font-size: 1.6rem;
    }

    .section_titulo {
        font-size: 4rem;
        text-align: center;
    }

    .section {
        flex-direction: column;
        gap: 4rem;
    }

    .nav {
        gap: 1rem;
        font-size: 1.5rem;
    }

    .foto-nav-liga {
        max-width: 50%;
    }
}

@media (max-width: 890px) {
    .nav_list {
        gap: 2rem;
    }

    .logo {
        max-width: 150px;
    }

    .inicio-sesion {
        min-width: fit-content;
    }

    .main-grid {
        grid-template-areas: 'titulo titulo titulo titulo'
            '. . . filtros'
            'ligas ligas ligas ligas';

        padding: 0 1rem;
    }

    .main_section2 {
        display: none;
    }

    .main_section2-movil {
        display: block;
        padding: 5rem 3rem;
        min-height: 100vh;
        max-height: 100vh;
        width: fit-content;

        border-radius: 0;

        align-self: end;

        position: fixed;
        right: 0;
        top: 0;

        font-size: 2rem;

        transform: translateX(100vw);
        transition: 250ms;

        overflow-y: scroll;

        z-index: 10000;
        cursor: pointer;
    }

    .filtro_cerrar {
        position: absolute;
        top: 10px;
        left: 30px;

        display: block;
    }

    .filtro_cerrar i {
        font-size: 3rem;
        color: $colorPrincipal;
    }

    .filtrosBtn {
        grid-area: filtros;

        font-size: 2rem;
        color: $colorPrincipal;

        display: flex;
        align-items: center;
        justify-content: end;
        gap: .5rem;

        padding: .5rem 1rem;

        border-radius: 15px;

        background-color: $blanco;

        box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
        -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);

        cursor: pointer;
    }

    .container_tienda {
        display: block;
    }

    .tienda_container-izq {
        margin-bottom: 3rem;
    }
}

@media (max-width: 800px) {

    .logo-liga {
        min-width: 150px;
        max-width: 150px;
    }
}


@media (max-width: 750px) {

    .container-crear {
        grid-template-areas:
            "nombre fecha_inicio"
            "fecha_final fecha_fin_inscripcion"
            "logo localidad"
            "sede dia_jornada"
            "numPistas dia_jornada"
            " primera_hora ultima_hora "
            "pnts_ganar pnts_perder"
            " pnts_empate pnts_juego"
            "inscripcion txt_responsabilidad "
            "btn btn";
    }

    .container-infoLiga {
        width: 80vw;
    }

    .container_numeros {
        flex-direction: column;
    }

    .ver-mas-inicio {
        display: block;
    }

    .hidden-section {
        display: none;
    }

    .header_partido {
        padding: 1rem 1rem;
    }

    .sin-partidos {
        font-size: 2rem;
    }

    .alerta {
        width: 80%;
    }

    .alerta-email_titulo {
        font-size: 2rem;
    }

    //menu movil
    .nav {
        display: none;
    }

    .nav-movil {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: start;

        padding: 5rem 3rem;
        height: 100vh;
        width: 75%;

        position: fixed;
        right: 0;

        font-size: 2rem;

        transform: translateX(100vw);
        transition: 250ms;

        z-index: 1000;
        overflow: hidden;
    }

    .nav_list {
        flex-direction: column;
        gap: .5rem;

        z-index: 100;
    }

    .inicio-sesion-login {
        min-width: 300px;
        text-align: center;
        order: 2;
    }

    .option_link {
        align-self: center;
        order: 1;
    }

    .nav_list li:hover,
    .list_option:hover {
        color: $colorSecundario;
        scale: 1;
    }

    .logo {
        max-width: 13rem;
    }

    .desplegable {
        text-align: center;
    }

    .desplegable ul {
        display: none;
        position: relative;

        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        margin-left: 3rem;

        text-align: start;


        background-color: #070a54;
        border-radius: 5px;

        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    .container_foto-nav {
        flex-direction: column;
        order: 2;
    }

    .movil {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 1rem;
        background-color: $colorPrincipal;
    }

    .menu_movil {
        font-size: 2rem;
        color: $colorSecundario;

        cursor: pointer;
    }

    .menu_cerrar {
        position: absolute;
        top: 10px;
        left: 30px;

        display: block;
    }

    .menu_cerrar i {
        font-size: 3rem;
        color: $colorSecundario;

        cursor: pointer;
    }

    .menu_lista {
        order: 3;
    }

    .logo-movil {
        order: 1;
    }

    .nav_list-movil {
        order: 3;
    }

    .container_foto-nav-movil {
        order: 2;
    }

}

@media (max-width: 650px) {
    .container-pregunta summary {
        font-size: 2rem;
        font-weight: bold;
        color: $colorPrincipal;

        padding: 0 1rem;
    }

    .tabla_datos {
        font-size: 1rem;
    }

    .tabla_titulo {
        font-size: 1rem;
    }
}

@media (max-width: 570px) {
    .header_partido {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .header_partido-fecha {
        font-size: 1.3rem;
    }

    .partido_select {
        font-size: 1.3rem;
    }

    .form {
        width: 300px;
    }

    #payment-form {
        grid-template-areas: 'num'
            'expire'
            'cvc'
            'postal'
            'btn';

            gap: 1rem;
        grid-template-columns: auto;

        padding: 0;
    }

    .tienda_nombre{
        font-size: 2rem;
    }

    .form-group{
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .section1_liga article {
        flex-direction: column;
    }

    .liga_info {
        font-size: 1.7rem;
        text-align: center;
        letter-spacing: 1px;
    }

    .liga_img {
        max-width: 80%;
    }

    .share {
        right: 50%;
    }

    .edit {
        right: 30%;
    }

    .container-pnt,
    .div-info-liga {
        flex-wrap: wrap;
        justify-content: center;
    }

    .titulo_infoLiga {
        font-size: 1.5rem;
    }

    .img_infoLiga {
        max-width: 100px;
        max-height: 100px;
    }

    .liga_img-perfil {
        max-width: 50%;
    }

    .ligas_perfil {
        padding: 2rem;
    }
}

@media (max-width: 430px) {
    .section_titulo {
        font-size: 3rem;
    }

    .mapa_titulo {
        font-size: 2rem;
    }

    .share {
        right: 20%;
    }

    .edit {
        right: 60%;
    }

    .container-crear {
        grid-template-areas:
            "nombre"
            "fecha_inicio"
            "fecha_final"
            "fecha_fin_inscripcion"
            "logo"
            "localidad"
            "sede"
            "dia_jornada"
            "dia_jornada"
            "numPistas"
            "primera_hora"
            "ultima_hora "
            "pnts_ganar"
            "pnts_perder"
            "pnts_empate"
            "pnts_juego"
            "inscripcion"
            "txt_responsabilidad "
            "btn";
    }
}

@media (max-width: 350px) {
    .form {
        width: 250px;
    }

    .card_suscripcion {
        width: 200px;
        height: 450px;
    }

    .suscripcion_nombre {
        font-size: 1.5rem;
    }

    .suscripcion_precio {
        font-size: 2rem;
    }

    .suscripcion_descripcion {
        font-size: 1.2rem;
    }

    .suscripcion_btn {
        padding: 1rem;
    }
}

@media (max-width: 300px) {
    .nav-movil {
        width: 100%;
    }

    .logo {
        max-width: 7rem;
    }

    .foto-nav {
        max-width: 20%;
    }
}