.main-responsabilidad {
    background-color: $colorClaro;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_responsabilidad{
    font-size: 4rem;
    text-transform: uppercase;
}

.main-responsabilidad div{
    max-width: 1024px;
    margin: 0 auto;

    padding: 2rem 6rem;

    text-align: left;

    color: $colorPrincipal;
}

.main-responsabilidad div p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.main-responsabilidad div ul{
    font-size: 1.5rem;
    margin-bottom: 2rem;

    list-style-type: disc;
    padding-left: 3rem;
}

.main-responsabilidad div h3{
    font-size: 2rem;
    font-weight: bold;
}