@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 1s linear infinite;
}

.spinner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}