@import "variables";
@import "reset";
@import "crearLiga";
@import "filtro";
@import "index";
@import "login";
@import "nav";
@import "inicio";
@import "partido";
@import "jugadores";
@import "infoLiga";
@import "PerfilLiga";
@import "faq";
@import "alertas";

@import "responsive";


body {
    font-family: 'Teko';
    font-size: 10px;
}

button {
    background: none;
    border: none;
    box-shadow: none;
}

.hidden{
    visibility: hidden;
}

main{
    height: fit-content;
}


//---------QUITAR---------//

.flex{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.select-partido{
    font-size: 1.7rem;
    color: $colorPrincipal;
}

.main-jugadores{
    background-color: $colorClaro;
    height: 86vh;
}