@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img,
video,
iframe,
picture,
figure {
  max-width: 100%;
  display: block;
}

form,
input,
select,
textarea,
button,
label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.container-crear {
  display: grid;
  grid-template-areas: "nombre fecha_inicio fecha_final fecha_fin_inscripcion" "logo localidad sede dia_jornada" "numPistas primera_hora ultima_hora dia_jornada" "pnts_ganar pnts_perder pnts_empate pnts_juego" "inscripcion txt_responsabilidad txt_responsabilidad txt_responsabilidad" ". btn btn .";
  gap: 2rem;
  padding: 2rem 1.8rem;
  margin: 3rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fff;
  font-size: 1.4rem;
  color: #040738;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.crear-label {
  font-weight: bold;
}

.crear-input {
  width: 100%;
  padding: 0.25rem;
}

.crear-txt {
  min-width: 100%;
  padding: 0.25rem;
}

.crear-boton {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  color: #c6cf25;
  letter-spacing: 1px;
  background-color: #040738;
  box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  -webkit-box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  -moz-box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.crear-boton:hover {
  scale: 1.1;
  box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
  -webkit-box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
  -moz-box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
}

#nombre-div {
  grid-area: nombre;
}

#logo-div {
  grid-area: logo;
}

#fecha_inicio-div {
  grid-area: fecha_inicio;
}

#fecha_final-div {
  grid-area: fecha_final;
}

#fecha_fin_inscripcion-div {
  grid-area: fecha_fin_inscripcion;
}

#localidad-div {
  grid-area: localidad;
}

#sede-div {
  grid-area: sede;
}

#dia_jornada-div {
  grid-area: dia_jornada;
  width: 100%;
}

#pnts_ganar-div {
  grid-area: pnts_ganar;
}

#pnts_empate-div {
  grid-area: pnts_empate;
}

#pnts_perder-div {
  grid-area: pnts_perder;
}

#pnts_juego-div {
  grid-area: pnts_juego;
}

#txt_responsabilidad-div {
  grid-area: txt_responsabilidad;
}

#inscripcion-div {
  grid-area: inscripcion;
}

#numPistas-div {
  grid-area: numPistas;
}

#primera_hora-div {
  grid-area: primera_hora;
}

#ultima_hora-div {
  grid-area: ultima_hora;
}

.text_foto {
  text-align: center;
}

.div_check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.txt_inscripcion {
  display: none;
  height: 33px;
}

.dia-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.dia-check .crear-input {
  width: -moz-fit-content;
  width: fit-content;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tiptext {
  visibility: hidden;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #333;
  color: #eee;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 110%;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.tooltip:hover .tiptext {
  visibility: visible;
  opacity: 1;
}

.section2_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
  color: #040738;
}

.section2_titulo {
  font-size: 3rem;
  letter-spacing: 1px;
}

.section2_button {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 250ms;
}

.section2_button:hover {
  color: #c6cf25;
}

.filtro_titulo {
  font-size: 1.8rem;
  color: #040738;
}

.container-check {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.filtro_label {
  font-size: 1.4rem;
  cursor: pointer;
}

.filtro_check {
  cursor: pointer;
}

#titulo-ver-mas {
  font-size: 1.4rem;
  font-weight: 600;
  color: #040738;
  cursor: pointer;
}

.filtro-fecha_div {
  margin-bottom: 1rem;
}

.filtro-fecha {
  font-size: 1.2rem;
}

.filtrosBtn,
.filtro_cerrar {
  display: none;
}

.main_section2-movil {
  display: none;
  position: relative;
  padding: 2rem 1.8rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.main-grid {
  min-height: 87vh;
  padding: 0 5rem;
  background-color: #eee;
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "filtro ligas ligas ligas" "filtro ligas ligas ligas" "filtro ligas ligas ligas" "filtro ligas ligas ligas" "filtro ligas ligas ligas";
  gap: 3rem;
}

.main_titulo {
  grid-area: titulo;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: #040738;
  padding-top: 1rem;
}

.main_section2 {
  grid-area: filtro;
  position: relative;
  padding: 2rem 1.8rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.main_section1 {
  grid-area: ligas;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 4rem;
  padding: 2rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.section1_liga {
  flex-basis: calc(50% - 3rem);
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  transition: all 250ms;
}

.section1_liga:hover {
  box-shadow: 0 0 20px 0 rgba(4, 7, 56, 0.5);
  -webkit-box-shadow: 0 0 20px 0 rgba(4, 7, 56, 0.5);
  -moz-box-shadow: 0 0 20px 0 rgba(4, 7, 56, 0.5);
}

.section1_liga article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.nuevaLiga {
  flex-basis: calc(50% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1_liga-crear {
  background-color: #eee;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  transition: all 250ms;
}

.section1_liga-crear:hover {
  box-shadow: 0 0 20px 0 rgba(4, 7, 56, 0.5);
  -webkit-box-shadow: 0 0 20px 0 rgba(4, 7, 56, 0.5);
  -moz-box-shadow: 0 0 20px 0 rgba(4, 7, 56, 0.5);
}

.section1_liga-crear i {
  font-size: 5rem;
  color: #040738;
}

.liga_img {
  max-width: 30%;
}

.liga_info {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 1px;
}

.liga_nombre {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 0.7rem;
}

.liga_tex {
  margin-bottom: 0.2rem;
}

.liga_crear {
  font-size: 8rem;
}

.details_verMas {
  margin-bottom: 1rem;
}

.verMas {
  font-size: 1.2rem;
  color: #040738;
}

.main-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.logo-login {
  position: absolute;
  top: 20px;
  left: 40px;
}

.login_titulo {
  font-size: 4rem;
  color: #040738;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
  font-size: 1.3rem;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 2rem;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 1rem;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: bold;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 1rem;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

.titulo-input {
  font-size: 1.5rem;
}

i {
  font-size: 1.2rem;
}

.file {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(72, 138, 236, 0.1921568627), 0 2px 4px -1px rgba(72, 138, 236, 0.0901960784);
  transition: all 0.6s ease;
}

.file:hover {
  box-shadow: 0 10px 15px -3px rgba(72, 138, 236, 0.4431372549), 0 4px 6px -2px rgba(72, 138, 236, 0.0901960784);
}

.file:focus,
.file:active {
  opacity: 0.85;
  box-shadow: none;
}

.input-hidden {
  display: none;
}

.selected {
  background-color: #49c70f;
}

.error {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fafafa;
  background: red;
  border-radius: 5px;
  padding: 0.1rem;
  padding-left: 0.7rem;
  animation-duration: 0.5s;
  animation-name: error;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

@keyframes error {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.nav,
.nav-liga {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: #040738;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  padding: 1rem 3rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav__menu {
  display: none;
  z-index: 100;
  color: #040738;
}

.nav_list,
.nav_list-liga {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: first;
  gap: 3rem;
  z-index: 100;
}

.nav_list li,
.nav_list-liga li,
.list_option {
  color: #fafafa;
  font-weight: 600;
  text-transform: uppercase;
  background: none;
  border: none;
  box-shadow: none;
  transition: all 250ms;
  cursor: pointer;
}

.nav_list li:hover,
.nav_list-liga li:hover,
.list_option:hover {
  color: #c6cf25;
  scale: 1.1;
}

.inicio-sesion {
  text-align: center;
}

.logo {
  max-width: 300px;
}

.activo {
  color: #040738;
}

.desplegable ul {
  display: none;
  position: absolute;
  min-width: 140px;
  padding: 1.5rem;
  background-color: #040738;
  border-radius: 5px;
  transition: all 300ms;
}

.mover {
  right: 10px;
}

.desplegable {
  list-style: none;
  transition: all 250ms;
}

.desplegable:hover {
  color: #c6cf25;
}

.desplegable:hover ul {
  display: block;
}

.desplegable ul li {
  position: relative;
}

.container_foto-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  gap: 0.4rem;
}

.foto-nav {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.nombre-user {
  cursor: pointer;
}

.movil,
.menu_cerrar {
  display: none;
}

.inicio-sesion-login {
  text-align: end;
}

.nav-movil {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: #040738;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  padding: 1rem 3rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.gris {
  background-color: #eee;
}

.blanco {
  background-color: #fafafa;
}

.ver-mas-inicio {
  display: none;
}

.titulo-ver-mas {
  font-size: 1.4rem;
  font-weight: 600;
  color: #040738;
  cursor: pointer;
}

.section {
  padding: 3.5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  box-shadow: 0px 0px 10px 0px rgb(4, 7, 56);
  -webkit-box-shadow: 0px 0px 10px 0px rgb(4, 7, 56);
  -moz-box-shadow: 0px 0px 10px 0px rgb(4, 7, 56);
}

.section_left {
  flex-basis: calc(50% - 4rem);
  font-size: 1.6rem;
  font-weight: 400;
}

.section_right {
  flex-basis: calc(50% - 4rem);
  display: flex;
  justify-content: center;
}

.section_titulo {
  color: #040738;
  font-size: 4rem;
  margin-bottom: 1.1rem;
}

.section_texto {
  letter-spacing: 1px;
}

.section_list {
  margin-left: 3rem;
  letter-spacing: 1px;
}

.section_option {
  list-style-type: disc;
  margin-top: 1rem;
}

strong {
  color: #040738;
}

.section_img-left {
  border-radius: 5px;
  filter: drop-shadow(10px 10px 8px rgba(4, 7, 56, 0.5));
}

.section_img-right {
  border-radius: 5px;
  filter: drop-shadow(-10px 10px 8px rgba(4, 7, 56, 0.1));
}

.section_numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-image: url("../../public/img/mapaFondo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  min-height: 410px;
}

.num {
  font-size: 4rem;
  color: #c6cf25;
}

.container_numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
}

.numeros_info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  width: 300px;
  text-align: center;
}

.numeros_info p {
  font-size: 2.5rem;
  color: #040738;
}

.container-partidos {
  width: 70%;
  max-height: 45vh;
  min-height: 45vh;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: #fafafa;
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-color: #333 #eee;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.header_partido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 5rem;
  width: 70%;
}

.partido_select {
  font-size: 2rem;
}

.header_partido-fecha {
  font-size: 2rem;
}

.partidos-div_partido {
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  background-color: #eee;
  flex-basis: calc(50% - 3rem);
  border-radius: 5px;
}

.partido_info {
  font-size: 1.5rem;
  position: relative;
}

.partido_info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 3rem;
  margin-bottom: 2rem;
}

.partido_fecha {
  display: inline;
}

.partido_hora {
  display: inline;
}

.partido_resultado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  max-height: 50px;
  min-height: 50px;
  margin-top: 2rem;
}

.sin-partidos {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partido_informacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 90%;
}

.pareja_nombre {
  flex-basis: calc(50% - 5rem);
  font-size: 1rem;
  text-align: center;
}

.pareja_nombre-resultado {
  flex-basis: calc(50% - 5rem);
  font-size: 2rem;
  text-align: center;
}

.btnResultado {
  font-weight: bold;
  cursor: pointer;
  transition: scale 250ms;
}

.btnResultado:hover {
  scale: 1.1;
}

.divResultado {
  font-size: 2rem;
  text-align: center;
}

.divResultado_parejas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0 5rem;
  height: 80%;
}

.parejas_pareja {
  font-size: 2.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
}

.partido-centro {
  position: absolute;
  right: 46%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2rem;
}

.lineaVertical {
  position: absolute;
  right: 50%;
  width: 3px;
  height: 80%;
  background-color: #c6cf25;
}

.partido_input {
  width: 50px;
  height: 50px;
  text-align: center;
}

.divResultado_Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.divResultado_Btn button {
  padding: 0.5rem 3rem;
  color: #fafafa;
  background-color: #040738;
  border-radius: 5px;
  border: 2px solid #040738;
  transition: all 250ms;
}

.divResultado_Btn button:hover {
  scale: 1.1;
  background-color: #eee;
  color: #040738;
}

.main-jugadores {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  margin-bottom: 2rem;
  color: #040738;
}

.jugadores_titulo {
  font-size: 3rem;
  text-transform: uppercase;
  color: #040738;
  text-align: center;
  margin: 2rem;
}

.jugadores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jugadores_tabla {
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  width: 300px;
  vertical-align: middle;
}

.tabla_titulo {
  padding: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
}

tbody {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 30vh;
  scrollbar-color: #333 #eee;
  background-color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
}

.tabla_datos {
  font-size: 1.4rem;
  color: #333;
}

.tabla_dato {
  padding: 0.5rem;
}

.tabla_cabecera {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  background-color: #040738;
  color: #c6cf25;
}

.main-infoLiga {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-titulo_infoLiga {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.container-img_infoLiga {
  background-color: #040738;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_infoLiga {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  z-index: 100;
}

.titulo_infoLiga {
  padding: 1rem 3rem;
  margin-left: -3.3rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #c6cf25;
  text-align: end;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  background-color: #040738;
}

.container-infoLiga {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  width: 70vw;
  padding: 3rem 1rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-info-liga {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin: 0.7rem;
  color: #040738;
}

.div-info-liga-respnsabilidad {
  flex-direction: column;
  gap: 1rem;
}

.liena {
  width: 90%;
  border: 1px solid #040738;
}

.btn-unirse {
  max-width: 300px;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.container-pnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.opciones-liga_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
  margin-bottom: 2rem;
}

.share,
.edit {
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  color: #040738;
  cursor: pointer;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  transition: color 200ms;
}

.edit {
  right: 30px;
}

.edit:hover,
.share:hover {
  color: #c6cf25;
}

.main-invitar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 14rem;
}

.enviarPDF {
  padding-bottom: 5rem;
}

.container-titulo_perfil {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.img_perfil {
  width: 15%;
  z-index: 80;
  border-radius: 50%;
}

.titulo_miPerfil {
  padding: 1rem 5rem;
  margin-left: -3.3rem;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #c6cf25;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  background-color: #040738;
}

.nombre_miPerfil {
  color: #c6cf25;
  background-color: #040738;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 2rem;
}

.div-info-perfil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: #040738;
  font-size: 1.3rem;
  margin: 0.7rem;
  margin-bottom: 2rem;
  background-color: #eee;
  padding-right: 1rem;
  border-radius: 5px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
}

.ligas_perfil {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 5rem;
}

.liga_img-perfil {
  max-width: 30%;
}

.liga_perfil {
  width: 80%;
  margin: 0 auto;
}

.edit-user {
  position: absolute;
  top: 16px;
  right: 120px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #040738;
  cursor: pointer;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.24);
  transition: color 200ms;
}

.edit-user:hover {
  color: #c6cf25;
}

.main-preguntas {
  background-color: #eee;
  padding-bottom: 5rem;
}

.section-preguntas {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.container-pregunta {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.container-pregunta summary {
  font-size: 3rem;
  font-weight: bold;
  color: #040738;
  cursor: pointer;
}

.container-pregunta summary::marker {
  color: #c6cf25;
}

.container-pregunta p {
  font-size: 2rem;
  color: #040738;
}

.alerta,
.alert {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040738;
  color: #c6cf25;
  font-size: 3rem;
  border-radius: 10px;
  padding: 1rem 5rem;
  z-index: 200;
}

.hidden {
  display: none;
}

.alerta_salir {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

.alerta_titulo {
  font-size: 4rem;
}

.alerta_div-form {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.alerta_div-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.alerta_input {
  width: 1.5rem;
  height: 1.5rem;
}

.alerta_div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alerta_btn {
  color: #040738;
  background-color: #c6cf25;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 3rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: scale 300ms ease-in-out;
}

.alerta_btn:hover {
  scale: 1.1;
}

.w-100 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alerta-email_titulo {
  font-size: 3rem;
}

.main-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.error-section {
  text-align: center;
}

/* Títulos */
.error-title {
  font-size: 5rem;
  font-weight: bold;
  color: #333;
}

.error-message {
  font-size: 2rem;
  color: #6c757d;
}

.error-suggestion {
  font-size: 1.8rem;
  color: #6c757d;
  margin-bottom: 4rem;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.button {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: #040738;
  color: #eee;
  text-decoration: none;
  font-size: 2.5rem;
  box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  -webkit-box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  -moz-box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  transition: all 0.3s;
}

.button:hover {
  scale: 1.1;
  box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
  -webkit-box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
  -moz-box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
}

.juanjo_img {
  width: 80vw;
  height: 60vh;
}

.div_juanjo {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #040738;
}

.juanjo {
  position: relative;
}

.insta {
  opacity: 0%;
  position: absolute;
  top: 350px;
  left: 47%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #040738;
  color: #c6cf25;
  z-index: 200;
  transition: all 1s ease-in-out;
}

.juanjo:hover .insta {
  opacity: 100%;
}

.form_resultado {
  width: 90%;
}

.resultado_parejas {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}

.parejas_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
  flex-basis: 40%;
  overflow: hidden;
  text-align: center;
}

.pareja2 {
  flex-direction: row-reverse;
}

.pareja_nombre-resultado {
  font-size: 3rem;
}

.div-input p {
  font-size: 2rem;
}

.lineaVertical-resultado {
  position: absolute;
  right: 50%;
  top: 20px;
  background-color: #c6cf25;
  width: 4px;
  height: 100%;
}

.btn_resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 2rem;
  width: 100%;
}

.btn_resultado button {
  padding: 0.5rem 3rem;
  color: #fafafa;
  background-color: #040738;
  border-radius: 5px;
  border: 2px solid #040738;
  transition: all 250ms;
}

.btn_resultado button:hover {
  scale: 1.1;
  background-color: #eee;
  color: #040738;
}

.partido_input {
  font-size: 2.3rem;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #040738;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  text-align: center;
  padding: 1rem 3rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first;
  gap: 1rem;
  z-index: 100;
}

.footer_list li {
  transition: all 350ms;
}

.footer_list li:hover {
  color: #c6cf25;
  scale: 1.1;
}

.div-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.rrss li {
  transition: all 350ms;
}

.rrss li:hover {
  color: #c6cf25;
  scale: 1.1;
}

.rrss-icon {
  font-size: 2rem;
}

.copy {
  font-size: 1.3rem;
  color: #c6cf25;
}

.main-responsabilidad {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo_responsabilidad {
  font-size: 4rem;
  text-transform: uppercase;
}

.main-responsabilidad div {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 6rem;
  text-align: left;
  color: #040738;
}

.main-responsabilidad div p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main-responsabilidad div ul {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  list-style-type: disc;
  padding-left: 3rem;
}

.main-responsabilidad div h3 {
  font-size: 2rem;
  font-weight: bold;
}

.container-edit {
  display: grid;
  grid-template-areas: "nombre nombre logo numPistas" "pnts_ganar pnts_perder pnts_empate pnts_juego" "txt_responsabilidad txt_responsabilidad txt_responsabilidad txt_responsabilidad" ". btn btn .";
  gap: 2rem;
  padding: 2rem 1.8rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fff;
  font-size: 1.4rem;
  color: #040738;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.container-edit_user {
  display: grid;
  grid-template-areas: "nombreUser telefono" "logoUser logoUser" "btn btn";
  gap: 2rem;
  padding: 2rem 1.8rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fff;
  font-size: 1.4rem;
  color: #040738;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

#telefono-div_user {
  grid-area: telefono;
}

#nombre-div_user {
  grid-area: nombreUser;
}

#logo-div_user {
  grid-area: logoUser;
}

.pagination-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination-link {
  text-decoration: none;
  color: #040738;
  padding: 5px;
}

.pagination-link:hover {
  background-color: #f0f0f0;
}

.pagination-link i {
  font-size: 2rem;
}

.pagination-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.current-page {
  color: #c6cf25;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.section-cards_titulo {
  color: #040738;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.section-suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titulo-suscripcion {
  font-size: 4rem;
  letter-spacing: 1px;
  color: #040738;
  text-transform: uppercase;
}

.card_suscripcion {
  position: relative;
  width: 300px;
  height: 500px;
  padding: 2rem;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0px 0px 0px 5px rgba(4, 7, 56, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.resaltar {
  height: 550px;
  box-shadow: 0px 0px 0px 5px rgb(198, 207, 37);
}

.suscripcion_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #040738;
}

.suscripcion_nombre {
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.suscripcion_precio {
  font-size: 3rem;
  color: #c6cf25;
  margin: 1rem 0;
}

.suscripcion_descripcion {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.suscripcion_btn {
  position: absolute;
  bottom: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #040738;
  color: #fafafa;
  border-radius: 5px;
  padding: 1rem 3rem;
  transition: all 300ms;
}

.suscripcion_btn:hover {
  background-color: #c6cf25;
  color: #040738;
  scale: 1.1;
}

.resaltar-btn {
  background-color: #c6cf25;
  color: #040738;
}

.container_tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 5rem;
  padding: 2rem;
  font-size: 2rem;
  color: #040738;
}

.tienda_container-izq {
  flex-basis: calc(30% - 5rem);
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.tienda_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.tienda_nombre {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.tienda_descripcion {
  width: 80%;
  margin: 0 auto;
}

.tienda_precio {
  font-size: 3rem;
  color: #c6cf25;
}

.tienda_container-der {
  flex-basis: calc(70% - 5rem);
  background-color: #fafafa;
  border-radius: 5px;
  padding: 2rem;
  min-height: 50vh;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  margin-right: 5rem;
}

#payment-form {
  display: grid;
  align-items: center;
  gap: 3rem;
  padding: 0 5rem;
  grid-template-areas: "num num num" "expire cvc postal" ". btn .";
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.form-group {
  font-size: 2.3rem;
  color: #040738;
}

.card-input {
  background-color: #eee;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(4, 7, 56, 0.2);
}

.card-number {
  grid-area: num;
}

.card-expiry {
  grid-area: expire;
}

.card-cvc {
  grid-area: cvc;
}

.generated-postal {
  grid-area: postal;
}

.btn-pagar {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  border-radius: 10px;
  font-weight: bold;
  color: #c6cf25;
  letter-spacing: 1px;
  background-color: #040738;
  box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  -webkit-box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  -moz-box-shadow: 0px 15px 8px -10px rgba(4, 7, 56, 0.5);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.btn-pagar:hover {
  scale: 1.1;
  box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
  -webkit-box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
  -moz-box-shadow: 0px 15px 8px -10px rgb(4, 7, 56);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 1s linear infinite;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.container-crear_equipo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 1.8rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  background-color: #fff;
  font-size: 1.4rem;
  color: #040738;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.equipo-form {
  margin: 2.5rem;
}

.codigo_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
  font-size: 4rem;
  color: #040738;
  padding: 0.5rem 2rem;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
}

.codigo_div i {
  font-size: 3rem;
  color: #040738;
  transition: all 250ms;
}

.codigo_div i:hover {
  scale: 1.1;
  color: #c6cf25;
}

#copySuccess {
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #040738;
  color: #c6cf25;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
  animation: copy 1.01s linear;
}

@keyframes copy {
  0% {
    scale: 0;
  }
  20% {
    scale: 1;
  }
  80% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
.desc_codigo {
  font-size: 2rem;
  color: #040738;
}

.main-invitar_equipo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
  margin: 5rem 0;
  height: 40vh;
}

@media (max-width: 1280px) {
  .container_foto-nav-liga {
    min-width: 200px;
    max-width: 200px;
  }
  .logo-liga {
    min-width: 200px;
    max-width: 200px;
  }
}
@media (max-width: 1200px) {
  .main_section1 {
    justify-content: center;
  }
  .section1_liga {
    flex-basis: 100%;
  }
  .liga_img {
    max-width: 50%;
  }
}
@media (max-width: 1150px) {
  .section_left {
    font-size: 1.2rem;
  }
  .section_titulo {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .tienda_container-der {
    margin: 0;
  }
  #payment-form {
    grid-template-areas: "num num" "expire cvc" "postal postal" "btn btn";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1035px) {
  .logo {
    max-width: 200px;
  }
  .container_foto-nav-liga {
    min-width: 100px;
    max-width: 100px;
  }
  .nav_list-liga {
    gap: 1rem;
  }
  .nav-liga {
    font-size: 1.5rem;
  }
}
@media (max-width: 945px) {
  .section_left {
    font-size: 1.6rem;
  }
  .section_titulo {
    font-size: 4rem;
    text-align: center;
  }
  .section {
    flex-direction: column;
    gap: 4rem;
  }
  .nav {
    gap: 1rem;
    font-size: 1.5rem;
  }
  .foto-nav-liga {
    max-width: 50%;
  }
}
@media (max-width: 890px) {
  .nav_list {
    gap: 2rem;
  }
  .logo {
    max-width: 150px;
  }
  .inicio-sesion {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .main-grid {
    grid-template-areas: "titulo titulo titulo titulo" ". . . filtros" "ligas ligas ligas ligas";
    padding: 0 1rem;
  }
  .main_section2 {
    display: none;
  }
  .main_section2-movil {
    display: block;
    padding: 5rem 3rem;
    min-height: 100vh;
    max-height: 100vh;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0;
    align-self: end;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 2rem;
    transform: translateX(100vw);
    transition: 250ms;
    overflow-y: scroll;
    z-index: 10000;
    cursor: pointer;
  }
  .filtro_cerrar {
    position: absolute;
    top: 10px;
    left: 30px;
    display: block;
  }
  .filtro_cerrar i {
    font-size: 3rem;
    color: #040738;
  }
  .filtrosBtn {
    grid-area: filtros;
    font-size: 2rem;
    color: #040738;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(4, 7, 56, 0.2);
    cursor: pointer;
  }
  .container_tienda {
    display: block;
  }
  .tienda_container-izq {
    margin-bottom: 3rem;
  }
}
@media (max-width: 800px) {
  .logo-liga {
    min-width: 150px;
    max-width: 150px;
  }
}
@media (max-width: 750px) {
  .container-crear {
    grid-template-areas: "nombre fecha_inicio" "fecha_final fecha_fin_inscripcion" "logo localidad" "sede dia_jornada" "numPistas dia_jornada" " primera_hora ultima_hora " "pnts_ganar pnts_perder" " pnts_empate pnts_juego" "inscripcion txt_responsabilidad " "btn btn";
  }
  .container-infoLiga {
    width: 80vw;
  }
  .container_numeros {
    flex-direction: column;
  }
  .ver-mas-inicio {
    display: block;
  }
  .hidden-section {
    display: none;
  }
  .header_partido {
    padding: 1rem 1rem;
  }
  .sin-partidos {
    font-size: 2rem;
  }
  .alerta {
    width: 80%;
  }
  .alerta-email_titulo {
    font-size: 2rem;
  }
  .nav {
    display: none;
  }
  .nav-movil {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    padding: 5rem 3rem;
    height: 100vh;
    width: 75%;
    position: fixed;
    right: 0;
    font-size: 2rem;
    transform: translateX(100vw);
    transition: 250ms;
    z-index: 1000;
    overflow: hidden;
  }
  .nav_list {
    flex-direction: column;
    gap: 0.5rem;
    z-index: 100;
  }
  .inicio-sesion-login {
    min-width: 300px;
    text-align: center;
    order: 2;
  }
  .option_link {
    align-self: center;
    order: 1;
  }
  .nav_list li:hover,
  .list_option:hover {
    color: #c6cf25;
    scale: 1;
  }
  .logo {
    max-width: 13rem;
  }
  .desplegable {
    text-align: center;
  }
  .desplegable ul {
    display: none;
    position: relative;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    text-align: start;
    background-color: #070a54;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .container_foto-nav {
    flex-direction: column;
    order: 2;
  }
  .movil {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 1rem;
    background-color: #040738;
  }
  .menu_movil {
    font-size: 2rem;
    color: #c6cf25;
    cursor: pointer;
  }
  .menu_cerrar {
    position: absolute;
    top: 10px;
    left: 30px;
    display: block;
  }
  .menu_cerrar i {
    font-size: 3rem;
    color: #c6cf25;
    cursor: pointer;
  }
  .menu_lista {
    order: 3;
  }
  .logo-movil {
    order: 1;
  }
  .nav_list-movil {
    order: 3;
  }
  .container_foto-nav-movil {
    order: 2;
  }
}
@media (max-width: 650px) {
  .container-pregunta summary {
    font-size: 2rem;
    font-weight: bold;
    color: #040738;
    padding: 0 1rem;
  }
  .tabla_datos {
    font-size: 1rem;
  }
  .tabla_titulo {
    font-size: 1rem;
  }
}
@media (max-width: 570px) {
  .header_partido {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .header_partido-fecha {
    font-size: 1.3rem;
  }
  .partido_select {
    font-size: 1.3rem;
  }
  .form {
    width: 300px;
  }
  #payment-form {
    grid-template-areas: "num" "expire" "cvc" "postal" "btn";
    gap: 1rem;
    grid-template-columns: auto;
    padding: 0;
  }
  .tienda_nombre {
    font-size: 2rem;
  }
  .form-group {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .section1_liga article {
    flex-direction: column;
  }
  .liga_info {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .liga_img {
    max-width: 80%;
  }
  .share {
    right: 50%;
  }
  .edit {
    right: 30%;
  }
  .container-pnt,
  .div-info-liga {
    flex-wrap: wrap;
    justify-content: center;
  }
  .titulo_infoLiga {
    font-size: 1.5rem;
  }
  .img_infoLiga {
    max-width: 100px;
    max-height: 100px;
  }
  .liga_img-perfil {
    max-width: 50%;
  }
  .ligas_perfil {
    padding: 2rem;
  }
}
@media (max-width: 430px) {
  .section_titulo {
    font-size: 3rem;
  }
  .mapa_titulo {
    font-size: 2rem;
  }
  .share {
    right: 20%;
  }
  .edit {
    right: 60%;
  }
  .container-crear {
    grid-template-areas: "nombre" "fecha_inicio" "fecha_final" "fecha_fin_inscripcion" "logo" "localidad" "sede" "dia_jornada" "dia_jornada" "numPistas" "primera_hora" "ultima_hora " "pnts_ganar" "pnts_perder" "pnts_empate" "pnts_juego" "inscripcion" "txt_responsabilidad " "btn";
  }
}
@media (max-width: 350px) {
  .form {
    width: 250px;
  }
  .card_suscripcion {
    width: 200px;
    height: 450px;
  }
  .suscripcion_nombre {
    font-size: 1.5rem;
  }
  .suscripcion_precio {
    font-size: 2rem;
  }
  .suscripcion_descripcion {
    font-size: 1.2rem;
  }
  .suscripcion_btn {
    padding: 1rem;
  }
}
@media (max-width: 300px) {
  .nav-movil {
    width: 100%;
  }
  .logo {
    max-width: 7rem;
  }
  .foto-nav {
    max-width: 20%;
  }
}
body {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

main {
  height: -moz-fit-content;
  height: fit-content;
}

.resalto {
  color: #c6cf25;
}/*# sourceMappingURL=Styles.css.map */