@import "variables";
@import "reset";
@import "crearLiga";
@import "filtro";
@import "index";
@import "login";
@import "nav";
@import "inicio";
@import "partido";
@import "jugadores";
@import "infoLiga";
@import "PerfilLiga";
@import "faq";
@import "alertas";
@import "404";
@import "resultado";
@import "footer";
@import "responsabilidad";
@import "edit";
@import "paginacion";

@import "responsive";


body {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

main {
    height: fit-content;
}

.resalto {
    color: $colorSecundario;
}